.home{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(198, 237, 244);
    gap: 10vh;
    padding: 5vh 5vw;
}

.home-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 15vw;
    height: 15vh;
}

.home-head{
    font-family: serif;
    font-size: 5vw;
}

.btns{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.btn1{
    display: flex;
    width: 30vw;
    height: 20vh;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}