*{
    font-family: serif;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.pg-1{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10vh;
    /* margin-top: auto; */
    margin-left: 15vw;
    height: auto;
    width: 70vw;
    /* gap: 3vh; */
    background: rgba(226, 241, 247,0.7);
    border-radius: 10px;
    padding-top: 3vh;
    padding-bottom: 5vh;
}

.bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.pg1-head{
    display: flex;
    font-size: 40px;
    font-weight: 700;
}

.pg-1-calc{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    /* position: relative; */
    /* width: 70%; */
}

.pg-1-input{
    display: grid;
    grid-template-columns: auto;
    /* font-size: 1.5vw; */
    font-size: 25px;
}

.input-var{
    display: flex;
    size: 5vw;
    color: white;
    background-color: rgba(8, 8, 57, 0.5);
    padding: 5px;
    /* font-size: 1vw; */
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

.cal-btn{
    display: flex;
    /* font-size: 1.5vw; */
    font-size: 25px;
    padding: 5px;
    width: 20vw;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 5vh;
    /* margin-bottom: 5vh; */
}

.result{
    margin-top: 5vh;
    color: red;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:800px){
    .pg1-head{
        font-size: 25px;
    }
    .pg-1-input{
        font-size: 20px;
    }
    .cal-btn,.result{
        font-size: 20px;
    }
    .input-var{
        font-size: 15px;
    }
}

@media only screen and (max-width:450px){
    .pg1-head{
        font-size: 17px;
    }
    .pg-1-input{
        font-size: 12px;
    }
    .cal-btn,.result{
        font-size: 12px;
    }
}